DEFAULT vesamenu.c32
MENU TITLE PXE ESXi Boot Menu
NOHALT 1
PROMPT 0
TIMEOUT 100
LABEL esxi{{ item.major_version }}{{ item.minor_version }}
  MENU DEFAULT
  MENU LABEL ESXi-{{ item.major_version }}{{ item.minor_version }} Installer
  kernel esxi{{ item.major_version }}{{ item.minor_version }}/mboot.c32
  append -c esxi{{ item.major_version }}{{ item.minor_version }}/boot.cfg
LABEL hddboot
  LOCALBOOT 0x80
  MENU LABEL Boot from local hard disk