# Dnsmasq configuration
# {{ ansible_managed }}

{% if item.dns_enabled is sameas true %}
domain-needed
bogus-priv
no-resolv
no-poll
server={{ item.dns_upstream }}
local=/{{ item.dns_domainname }}/
no-hosts
addn-hosts={{ item.dns_statichosts }}
expand-hosts
domain={{ item.dns_domainname }}
port={{ item.port }}
{% else %}
port=0
{% endif %}

{% if item.log is sameas true %}
log-dhcp
{% endif %}

{% if item.network_range is defined %}
dhcp-range={{ item.network_range }},proxy
{% endif %}

{% if item.tftp is sameas true %}
enable-tftp
{% endif %}

{% if item.tftp_root is defined %}
tftp-root={{ item.tftp_root }}
{% endif %}

{% if item.pxe_service is defined %}
pxe-service={{ item.pxe_service }}
{% endif %}