[masternodes]
pimaster ansible_host={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}

[homelab_esx]
esx1 ansible_host={{ item.ip_addr }}

[homelab_pfsense]
pfsense ansible_host=192.168.1.12

[homelab_vesx]
