# KS configuration
# {{ ansible_managed }}

vmaccepteula
{% if ansible_product_name == 'VirtualBox' %}
install --firstdisk=local --overwritevmfs --novmfsondisk
{% else %}
install --firstdisk=usb --overwritevmfs --novmfsondisk
{% endif %}
reboot

network --bootproto=static --ip={{ item.ip_addr }} --netmask={{ item.ip_subnetmask }} --gateway={{ item.ip_gateway }} --hostname={{ item.hostname }} --nameserver={{ item.ip_nameserver }} --addvmportgroup=1
rootpw {{ item.root_passwd }}

%firstboot --interpreter=busybox

# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
cat > /etc/ssh/keys-root/authorized_keys <<EOF
ssh-rsa {{ ssh_pub_key.stdout }}
# copy SSH authorized keys & overwrite existing
EOF